src/main/mule/salesforce-cdc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<flow name="salesforce-change-data-capture" doc:id="b870e586-c43d-46b9-ba79-5b5b8e3a6298" >
		<salesforce:subscribe-channel-listener doc:name="Subscribe to Contact Changes" doc:id="895f3e8a-20cc-48c3-9ee1-7b36a3f2363b" streamingChannel="/data/ContactChangeEvent" config-ref="Salesforce_Config"/>
		<logger level="INFO" doc:name="Log Event Structure" doc:id="0133589e-a012-4aa7-9230-4c840aa71b6e" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload.data.payload]"/>
	</flow>
</mule>
